
<header class="nav-bar">
  <div class="nav-container">
    <div class="top-bar">
    <div class="logo">
      <a href="/">
        <img src="https://www.manomano.fr/assets/_next/static/images/logo-b2c-e9d01098cb2f638d.svg" alt="Logo">
      </a>
    </div>

    <div class="search-bar">
      <input type="search" class="form-control" placeholder="Rechercher">
      <div class="icon-container">
        <i class="bi bi-search search-icon"></i>
      </div>
    </div>

    <div class="icons">
      <div class="icon-group">
        <img src="https://www.manomano.co.uk/assets/_next/static/images/logo1080-07026c0f92f30805.png" alt="Logo" class="icon-logo">
        <span>Vous êtes pro <br> 20€ offerts !</span>
      </div>


      <div class="icon-group">
      <i class="bi bi-person"></i>
        <span>Bonjour<br> Connectez-vous</span>
      </div>
      <div class="icon-group">
        <i class="bi bi-basket"></i>
      </div>
    </div>
  </div>

  <div class="menu-bar">
    <div class="menu-item">
      <i class="bi bi-list"></i>
      <a href="#">Menu</a>
      
    </div>
    <div class="menu-item framed" style="background-color: #7be4f9;">
      
      <a href="#">La chaleur est là</a>
    </div>
    <div class="menu-item framed" style="background-color: #FFC107;color:black;">
      
      <a href="#">Profitez de votre jardin</a>
    </div>
    <div class="menu-item framed" style="background-color: #2992dd;">
      
      <a href="#">Livraison 48h gratuite</a>
    </div>
    <div class="menu-item">
      <a href="#">Prix baissés</a>
    </div>
    <div class="menu-item">
      <a href="#">Seconde vie</a>
    </div>
    <div class="menu-item">
      <a href="#">Bons plans</a>
    </div>
  </div>
 </div> 
</header>
<div class="breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Accueil</a></li>
      <li class="breadcrumb-item"><a href="#">Cuisine</a></li>
      <li class="breadcrumb-item"><a href="#">Meuble de cuisine</a></li>
      <li class="breadcrumb-item active" aria-current="page">Meuble de cuisine</li>
    </ul>
  </nav>
</div>
