
<header class="nav-bar">
  <div class="nav-container">
    <div class="top-bar">
    <div class="logo">
      <a href="/">
        <img src="https://th.bing.com/th/id/OIP.8laivScf3hqKz2rY-bqBMwHaEK?rs=1&pid=ImgDetMain" alt="Logo">
      </a>
    </div>

    <div class="search-bar">
      <input type="search" class="form-control" placeholder="Rechercher">
      <div class="icon-container">
        <i class="bi bi-search search-icon"></i>
      </div>
    </div>

    <div class="icons">
      <div class="icon-group">
        <img src="https://www.manomano.co.uk/assets/_next/static/images/logo1080-07026c0f92f30805.png" alt="Logo" class="icon-logo">
        <span>Vous êtes pro <br> 20€ offerts !</span>
      </div>


      <div class="icon-group">
      <i class="bi bi-person"></i>
        <span>Bonjour<br> Connectez-vous</span>
      </div>
      <div class="icon-group">
        <i class="bi bi-basket"></i>
      </div>
    </div>
  </div>

  <div class="menu-bar">
    <div class="menu-item">
      <i class="bi bi-list"></i>
      <a href="#">Menu</a>
      
    </div>
    <div class="menu-item framed" style="background-color: #7be4f9;">
      
      <a href="#">La chaleur est là</a>
    </div>
    <div class="menu-item framed" style="background-color: #FFC107;color:black;">
      
      <a href="#">Profitez de votre jardin</a>
    </div>
    <div class="menu-item framed" style="background-color: #2992dd;">
      
      <a href="#">Livraison 48h gratuite</a>
    </div>
    <div class="menu-item">
      <a href="#">Prix baissés</a>
    </div>
    <div class="menu-item">
      <a href="#">Seconde vie</a>
    </div>
    <div class="menu-item">
      <a href="#">Bons plans</a>
    </div>
  </div>
 </div> 
</header>


<h2 class="title">Meuble de cuisine</h2>
  <p class="subtitle">Plus de 500 produits trouvés</p>

  <div class="filter">
    <label class="switch">
      <input type="checkbox" [checked]="">
      <span class="slider round"></span>
      <span class="label">Livraison 48h gratuite</span>
    </label>
    <br>
    <a href="#" class="link">En savoir plus</a>
  </div>

  <div class="filter-group">
    <h3>Livraison</h3>
    <div class="checkbox">
      <input type="checkbox" id="free-delivery" [checked]="">
      <label for="free-delivery">Livraison gratuite</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="one-day-delivery" [checked]="">
      <label for="one-day-delivery">Livraison en 1 jour</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="pickup-point" [checked]="">
      <label for="pickup-point">Livraison à un point de relais</label>
    </div>
    <a href="#" class="link">Voir plus</a>
  </div>
 

  <div class="filter-group">
    <h3>Prix (€)</h3>
    <div class="input-group">
      <label for="min-price">Minimum (€)</label>
      <input type="number" id="min-price=5">
    </div>
    <div class="input-group">
      <label for="max-price">Maximum (€)</label>
      <input type="number" id="max-price= 3000">
    </div>
  </div>

 

  <div class="filter-group">
    <h3>Notes</h3>
    <div class="checkbox">
      <input type="checkbox" id="4-stars" [checked]="">
      <label for="4-stars">★★★★★ 4 et plus (957)</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="3-stars" [checked]="">
      <label for="3-stars">★★★★☆ 3 et plus (1364)</label>
    </div>
  </div>


  <div class="filter-group">
    <h3>Marques</h3>
    <div class="checkbox">
      <input type="checkbox" id="vicco" [checked]="">
      <label for="vicco">VICCO (1269)</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="tlily" [checked]="">
      <label for="tlily">TLILY (1108)</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="cuisineandcie" [checked]="">
      <label for="cuisineandcie">CUISINEANDCIE (481)</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="vidaxl" [checked]="">
      <label for="vidaxl">VIDAXL (350)</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="torana" [checked]="">
      <label for="torana">TORANA (315)</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" id="gd-menuiseries" [checked]="">
      <label for="gd-menuiseries">GD MENUISERIES (215)</label>
    </div>
    <a href="#" class="link">Voir plus</a>
    </div>


    <div class="filter-group">
      <h3>Vendeurs</h3>
      <div class="checkbox">
        <input type="checkbox" id="ok-living" [checked]="">
        <label for="ok-living">OK-Living (1269)</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="ncdongya" [checked]="">
        <label for="ncdongya">NCdongya (1108)</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="cuisineandcie-v" [checked]="">
        <label for="cuisineandcie-v">cuisineandcie (481)</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="avimac" [checked]="">
        <label for="avimac">Avimac (376)</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="the-living-store-fr" [checked]="">
        <label for="the-living-store-fr">The Living Store FR (285)</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="gd-menuiserie-v" [checked]="">
        <label for="gd-menuiserie-v">GD Menuiserie (215)</label>
      </div>
      <div class="checkbox">
        <input type="checkbox" id="shopnova" [checked]="">
        <label for="shopnova">shopnova (193)</label>
      </div>
      <a href="#" class="link">Voir plus</a>
    </div>
    
  <div class="filter-group">
    <h3>Label / Certification</h3>
    <div class="checkbox">
      <input type="checkbox" id="eco-responsable" [checked]="">
      <label for="eco-responsable">Éco-responsable</label>
      <span class="icon">🌿</span>
    </div>
    <a href="#" class="link">En savoir plus</a>
    <div class="checkbox">
      <input type="checkbox" id="origine-france" [checked]="">
      <label for="origine-france">Origine France</label>
      <span class="icon"> 🇫🇷 </span>
    </div>
  </div>
