
header.nav-bar {
  background-color: #173989; 
  padding:0;
  width: 99vw !important;
  position: relative; 
  box-sizing: border-box;
  margin: 0;
  max-height: 150px; 
  overflow:auto; 
}

.nav-container {
 max-width :100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px; 
  border-bottom: 1px solid #173989; 

}
.logo {
  margin-right: 20px;
}

.logo img {
  width: 150px;
  height: auto; 
}
.search-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 850px; 
  margin: auto;
}

.form-control {
  width: 100%;
  padding: 0.5rem,2rem;
  border-radius: 50px;
  border: 1px solid #ced4da; 
  background: #fff; 
}

.icon-container {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.search-icon {
  cursor: pointer;
  background-color: #14ecd3; 
  border-radius: 50%;
  padding: 0.45rem;
  color: #fff; 
  font-weight: bold;
}
   
.icons {
  display: flex;
  align-items: center;
}
.icon-logo {
  width: 40px; 
  height: auto; 
  margin-right: 10px; 
}
.icon-group {
  margin-right: 15px;
  display: flex;
  align-items: center; 
  transition: background-color 0.3s ease;
  position: relative;
  padding: 5px;
  border: 5px;
}

.icon-group i {
  font-size: 24px; 
  margin-right: 10px;
  color: white;

}

.icon-group span {
  font-size: 12px; 
  color: #fff; 
}
.icon-group:hover, .icon-group:active {
  background-color: #007bff; /* Blue background on hover or click */
  color: #fff; /* White font color on hover or click */
}

.icon-group i, .icon-group span {
  transition: none; /* Ensure no transition is applied to icons and text */
}






.menu-bar {
  padding: 10px;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 5px;

}

.menu-item {
  margin:0 2px;
  padding:4px;
  border-radius: 5px;
  position: relative;
}

.menu-item i {
  color: white;
}
.menu-item a {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold; 
  font-size: 10px;
  padding: 5px 10px;

}.menu-item a::after {
  content: "";
  color: white;
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-item a:hover::after {
  width: 100%;
}

.menu-item:nth-child(2) a {
  color: rgb(3, 5, 97);  }
  .menu-item:nth-child(3) a {
    color: rgb(79, 42, 3);}

/* Breadcrumb container styling */
.breadcrumb-container {
  margin: 10px 50px; 
}

/* Breadcrumb list styling */
.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.breadcrumb-item {
  margin-right:2px;
}

.breadcrumb-item a {
  text-decoration: none; 
  color: black;
}

.breadcrumb-item a:hover {
  text-decoration: underline; 
}

/* Styling for the last breadcrumb item */
.breadcrumb-item.active {
  color: rgb(5, 114, 151); 

}
