
.reassurance-container {
    background-color: rgb(255, 255, 255);
    margin-top: 1000px;
  }
 
  .reassurance-section {
    max-width:100%;
    margin: 0 auto; 
  }
  

  .reassurance-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  

  .reassurance-item {
    margin: 0 8px 16px;
    flex: 1 1 calc(33.333% - 16px); 
    max-width: calc(33.333% - 16px); 
    text-align: center;
  }
  

  .reassurance-item img {
    display: block;
    margin: 0 auto;
    width: 72px; 
    height: 72px;
  }
  

  .reassurance-text p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin: 0; 
  }



  .b2b-container {
    padding: 20px 16px;
    justify-content: flex-start;
  }
  
  
.b2b-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #f5f2f4; 
    padding: 10px; 
    background-color:#fff8e3; 

  }
  
  .b2b-text-wrapper {
    flex: 1;
    text-align: center; 
  }
  
  .b2b-header,
  .b2b-subheader,
  .b2b-reserved {
    display: block;
    margin-bottom: 5px;
  }
  

  .b2b-header {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; 
    font-size: inherit;
  }
  .b2b-subheader {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  
  .b2b-reserved {
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    color: #505971;
  }
  
  .b2b-button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #0c193a;
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
  
  .b2b-button-content {
    display: flex;
    align-items: center;
  }
  
  .b2b-logo {
    margin-right: 8px; 
  }
  
  .b2b-button-text {
    font-size: 14px;
    color: #000;
    font-weight: 600;
  }
  
  

.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0 20px; 
  margin: -130px 0 0 0; 
  background-color: #fff; 
  box-sizing: border-box; 
}


.newsletter-image {
  margin-left: -150px;
  transform: translateY(170px); 
  height: 135px; 
  width: auto;
}



.newsletter-content {
  flex: 1; 
  max-width: 600px; 
  text-align: left; 
}


.newsletter-header {
  font-size: 16px; 
  font-weight: bold;
  color: #0c193a; 
  margin-bottom: 10px; 
  line-height: 24px; 
  display: block; 
}

.newsletter-subheader {
  font-size: 14px;
  color: #0c193a;
  margin-bottom: 20px; 
  line-height: 20px; 
  display: block;
}


.newsletter-form {
  display: flex;
  flex-direction: row; 
  align-items: center;
  margin-bottom: 20px;
}

.input-wrapper {
  position: relative;
  margin-right: 10px; 
}

.newsletter-input {
  width: 250px;
  padding: 10px; 
  border: 2px solid #00a859; 
  border-radius: 4px; 
}

.input-label {
  position: absolute;
  top: -20px;
  left: 10px; 
  font-size: 14px;
  color: #0c193a;
}


.newsletter-button {
  background-color: #00a859; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}


.email-notice {
  font-size: 12px;
  color: #505971;
  margin-bottom: 5px;
}

.learn-more a {
  color: #00a859; 
  text-decoration: none;
}

.promo-terms {
  font-size: 12px;
  color: #505971;
}




.container {
  font-family: Arial, sans-serif;
  color: #f1ebeb;
  padding: 20px;
  background-color: #505971;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  align-items: start;
  width: 100%;
  max-width: 1500px; 
  margin: 0 auto;
  overflow-y: auto;
  height: auto;
}
.info-links, .extra-sections, .app-info, .payment-info, .social-media {
  margin-bottom: 20px; /* Adds space between the vertical blocks */
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}
ul li a {
  color: rgb(243, 234, 234);
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.payment-info img, .international-links img, .social-links img {
  margin: 10px;
}
.payment-methods img {
  margin: 5px;
}
.payment-info {
  grid-column: 3 / 4;
  grid-row: 2;
  margin-bottom: 15px;
}
.social-media {
  grid-column: 3 / 4;
  grid-row: 3;
  margin-top: 15px;
  margin-bottom: 0;
}
.info-links {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
}
.extra-sections {
  grid-column: 2 / 3;
  grid-row: 1 / span 3;
}
.app-info h2, .payment-info h2, .social-media h2, .info-links h2, .extra-sections h2 {
  font-size: 1.5em;
  margin-bottom: 5px; 
}
.app-info p {
  font-size: 1em;
  margin-bottom: 10px;
}

.app-info button {
  background-color:  #505971;
  color: #f8fafa;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
.info-links button {
  background-color:  #505971;
  color: #f8fafa;
  border: none;
}
.extra-sections button {
  background-color:  #505971;
  color: #f8fafa;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
.social-media button {
  background-color:  #505971;
  color: #f8fafa;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}


.app-links, .payment-methods, .social-links {
  display: flex;
  justify-content: space-between;
}


.footer {
  background-color:#0c193a;
  padding: 16px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.footer p{
  color:white;
  text-decoration:none;
}

.footer a:hover {
  text-decoration: underline;
}