
<div class="jTWbBY" data-testid="sprbrd-banner">
  <a class="c27UA1R" data-testid="sprbrd-logo-link" href="https://www.manomano.fr/recherche/sobuy?category_names=Desserte+de+cuisine&amp;catId=2970&amp;ls_filter=false">
    <div class="image-container">
      <img src="https://cdn.manomano.com/sponsored-brands/secondary/dvkezxchf/image/upload/h_168,w_336/se1fmtbud7ueor0dzbon" alt="brand image" class="brand-image">
      <img src="https://cdn.manomano.com/sponsored-brands/main/images/headlineCampaigns/2447204_2022-11-08-08-50-53-437.png" alt="brand logo" class="brand-logo">
    </div>
  </a>
  
  <div class="fU9F-w FsODX5" data-testid="sprbrd-products">
    <div class="n_rnu6 ESZgey mfrkPN">
      <div class="c4hSgyS" data-testid="sprbrd-label">
        <div class="dluXEP">
          <span role="button" tabindex="0" data-testid="popoverTriggersponsoredLabel">
            <span class="b38yzx YLR5E2 c35g1Kh gS1w88 dluXEP">
              <span class="C8TPUq">Sponsorisé</span>
              <svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em" viewBox="0 0 24 24" class="svg_tamagoshi BmBzWN">
                <path d="M11 7h2v2h-2V7zm1 4c.55 0 1 .45 1 1v4c0 .55-.45 1-1 1s-1-.45-1-1v-4c0-.55.45-1 1-1zm0-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" fill="currentColor"></path>
              </svg>
            </span>
          </span>
        </div>
      </div>
      <div class="ccm8O0">
        <span class="aGid7q" data-testid="sprbrd-prmtnText">Découvrez ces dessertes de SoBuy</span>
        <a class="vh-lLl" data-testid="sprbrd-bannerLink" href="https://www.manomano.fr/recherche/sobuy?category_names=Desserte+de+cuisine&amp;catId=2970&amp;ls_filter=false">
          En savoir plus sur SOBUY
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 24 24" class="svg_tamagoshi dbQdki">
            <path d="M5.418 11h11.17l-4.88-4.88c-.39-.39-.39-1.03 0-1.42a.996.996 0 011.41 0l6.59 6.59c.39.39.39 1.02 0 1.41l-6.59 6.59a.996.996 0 11-1.41-1.41l4.88-4.88H5.417c-.55 0-1-.45-1-1s.45-1 1-1z" fill="currentColor"></path>
          </svg>
        </a>
      </div>
    </div>

    <div class="c7QWmjJ wSzwUH">
      <button aria-disabled="true" class="c3O5j-b gzfZ1j" disabled type="button" data-testid="left-arrow-sprbrd-products">
        <svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em" viewBox="0 0 24 24" class="svg_tamagoshi beyupp">
          <use href="#iconsSystemArrowLeft"></use>
        </svg>
      </button>
      <button aria-disabled="false" class="c3O5j-b" type="button" data-testid="right-arrow-sprbrd-products">
        <svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em" viewBox="0 0 24 24" class="svg_tamagoshi beyupp">
          <use href="#iconsSystemArrowRight"></use>
        </svg>
      </button>
    </div>

    <div class="PjXbTf kAOFbn u0CTcZ">
     
      <a class="c481G71" href="/catalogue/p/sobuy-knl01-f-placard-de-cuisine-buffet-de-rangement-armoire-de-cuisine-multi-rangements-avec-2-portes-4-cubes-compartiments-52869606?product_id=57162535">
        <img src="https://cdn.manomano.com/sobuy-knl01-f-placard-de-cuisine-buffet-de-rangement-armoire-de-cuisine-multi-rangements-avec-2-portes-4-cubes-compartiments-P-3968002-57162535_1.jpg" alt="SoBuy KNL01-F Placard de Cuisine" height="70" width="70" class="xqxSdA">
        <div>
          <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">SoBuy KNL01-F Placard de Cuisine Buffet de Rangement Armoire de Cuisine Multi-rangements avec 2 Portes, 4 Cubes Compartiments</p>
          <div class="c02qRSp" data-testid="sprbrd-product-0-priceAndRating">
            <span class="qMW3rO ZR6iYG uwhBzD">
              <span class="KIH6jK">309</span><sup><span class="s8wibb" data-testid="price-currency-symbol">€</span> <span class="jgdrL5">94</span></sup>
            </span>
            <div class="t-gJof">
              <span class="MppYSS" aria-label="3.64/5" style="background-position-y: 70%;"></span>
              <div class="b38yzx YLR5E2 c35g1Kh gS1w88" style="color: rgb(80, 89, 113); margin-left: 4px;">(25)</div>
            </div>
          </div>
        </div>
      </a>

     
      <a class="c481G71" href="/catalogue/p/desserte-chariot-de-cuisine-de-service-roulant-meuble-armoire-de-rangement-cusine-sur-roulettes-l67cmxh87cmxp37cm-fkw45-wn-sobuy-49433493?product_id=8039445">
        <img src="https://cdn.manomano.com/sobuy-fkw45-wn-desserte-chariot-de-cuisine-de-service-roulant-meuble-armoire-de-rangement-cuisine-sur-roulettes-P-3968002-8039445_1.jpg" alt="SoBuy FKW45-WN Desserte Chariot de Cuisine" height="70" width="70" class="xqxSdA">
        <div>
          <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">SoBuy FKW45-WN Desserte Chariot de Cuisine de Service Roulant, Meuble Armoire de Rangement cusine sur roulettes</p>
          <div class="c02qRSp" data-testid="sprbrd-product-1-priceAndRating">
            <span class="qMW3rO ZR6iYG uwhBzD">
              <span class="KIH6jK">109</span><sup><span class="s8wibb" data-testid="price-currency-symbol">€</span> <span class="jgdrL5">94</span></sup>
            </span>
            <div class="t-gJof">
              <span class="MppYSS" aria-label="4.03/5" style="background-position-y: 80%;"></span>
              <div class="b38yzx YLR5E2 c35g1Kh gS1w88" style="color: rgb(80, 89, 113);  margin-left: 4px;">(46)</div>
            </div>
          </div>
        </div>
      </a>
    </div>




    <div class="product-grid">
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/desserte-de-jardin-chariot-pour-plancha-barbecue-en-bois-et-metal-avec-2-etageres-et-3-crochets-107-x-65-x-80-cm-noir-naturel-67280859?product_id=89602367">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/desserte-de-jardin-chariot-pour-plancha-barbecue-en-bois-et-metal-avec-2-etageres-et-3-crochets-107-x-65-x-80-cm-noir-naturel-P-6132097-89602367_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-outsunny-6502.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
    
    
    
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Meuble de Cuisine avec Plan de Travail &amp; Roulettes, 115x36x90cm NAIZY"  href="/p/meuble-de-cuisine-avec-plan-de-travail-roulettes-115x36x90cm-naizy-81228369?product_id=122344920">
          <img class="product-image" alt="Meuble de Cuisine avec Plan de Travail &amp; Roulettes, 115x36x90cm NAIZY"  src="https://cdn.manomano.com/meuble-de-cuisine-avec-plan-de-travail-roulettes-115x36x90cm-naizy-P-31778452-122344920_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-naizy-0a154a84-5cb7-4754-a3a8-2bba9e2b4c67.png" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Meuble de Cuisine avec Plan de Travail &amp; Roulettes, 115x36x90cm NAIZY" </p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
    
    <div class="product-card">
     
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/meuble-bas-dangle-r-line-87cm-goldkraft-anthracite-vicco-50024550?product_id=59119849">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/element-haut-de-cuisine-r-line-chene-de-force-dore-60-cm-vicco-P-23621973-59119849_1.jpg">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-vicco-0b121d32-34ea-4d16-8623-e091b5d18d2a.jpeg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Elément haut de cuisine R-Line, Chêne de force doré, 60 cm, Vicco</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
    
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/wenko-rangement-placard-cuisine-coulissant-wanja-2-tiroirs-de-rangement-de-cuisine-coulissant-ideal-pour-lamenagement-des-placards-de-cuisine-metal-l23xh45xp45cm-blanc-640478?product_id=6580636">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/rangement-placard-cuisine-coulissant-wanja-wenko-2-tiroirs-de-rangement-de-cuisine-coulissant-ideal-pour-lamenagement-des-placards-de-cuisine-metal-l23xh45xp45cm-blanc-blanc-P-2732609-6580636_1.jpg"  width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-wenko-5467.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Rangement placard cuisine coulissant Wanja WENKO, 2 tiroirs de rangement de cuisine coulissant, idéal pour l'aménagement des placards de cuisine, Métal, L23xH45xP45cm, blanc</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
    
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/chariot-de-service-desserte-de-4-niveaux-avec-poigne-roulettes-avec-freins-avec-bords-rehausss-fin-montage-facile-pour-cuisine-salle-de-bain-salon-hoobro-ebf15tc01-marron-rustique-53661349">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/chariot-de-service-desserte-de-a-4-niveaux-avec-poignee-roulettes-avec-freins-avec-bords-rehausses-fin-montage-facile-pour-cuisine-salle-de-bain-salon-hoobro-ebf15tc01-P-33778356-117048769_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-hoobro-f043463a-6484-446e-aa1d-6fc65e2d2d06_hoobro%2Blogo%2Bsmall.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Chariot de Service, Desserte de à 4 Niveaux avec Poignée, roulettes avec Freins, avec Bords Rehaussés, Fin, Montage Facile, pour Cuisine, Salle de Bain, Salon, HOOBRO EBF15TC01</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
    
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/chariot-de-service-a-3-niveaux-chariot-desserte-de-cuisine-de-style-industriel-cadre-metallique-meerveil-30774610?model_id=17380098">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/mondeer-desserte-de-cuisine-chariot-de-serviceavec-plateau-amovible-avec-pieds-reglables-et-roulettes-etagere-de-cuisine-structure-en-fer-noir-P-21460765-53940111_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-mondeer-66828f25-2e39-4b99-90a0-a6d1398389b8.png"width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
 
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="Desserte à roulettes 3 étages en bois cagette - 5five" href="/p/desserte-bois-cagette-17730624">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/desserte-a-roulettes-3-etages-en-bois-cagette-5five-bois-naturel-P-34767973-130244858_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="	https://cdn.manomano.com/marque-5five-ddc81848-e5a9-4470-bb29-3ac25ba65d0a.png" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
     
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/chariot-de-service-4-niveaux-desserte-de-cuisine-en-pin-1-tiroir-1-plateau-amovible-4-roulettes-avec-freins-37x37x76-cm-41264737">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/desserte-4-niveaux-1-tiroir-1-plateau-amovible-4-roulettes-avec-freins-37x37x76-cm-P-29228484-81923434_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src=	"https://cdn.manomano.com/marque-soldela-3a24d197-de1d-496f-9f14-10f4e001df8f.jpeg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
     
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/costway-buffet-de-cuisine-avec-porte-coulissante-107-x-33-x-60-cm-buffet-bas-avec-etagere-reglable-pour-salon-et-entree-noir-14022273">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/costway-buffet-de-cuisine-avec-porte-coulissante-107-x-33-x-60-cm-buffet-bas-avec-etagere-reglable-pour-salon-et-entree-noir-P-5380911-65725252_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-costway-261430.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
     
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/xxl-plan-de-travail-de-luxe-desserte-sur-roulettes-meuble-chariot-de-cuisine-de-service-roulant-avec-plateau-en-acier-inox-et-grande-armoire-de-rangement-noir-sobuy-fkw33-sch-5905234">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/sobuy-carrello-da-cucina-credenza-mobiletto-ad-angolo-bianco-fkw33-w-P-3968002-7927826_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-sobuy-237971.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
     
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/desserte-chariot-de-cuisine-de-service-roulant-meuble-armoire-de-rangement-cusine-sur-roulettes-l67cmxh87cmxp37cm-fkw45-wn-sobuy-49433493?model_id=7103335">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/sobuy-carrello-di-servizio-credenza-in-legno-mobile-cucina-bianco-fkw45-wn-P-3968002-8039445_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-sobuy-237971.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
     
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/desserte-de-jardin-chariot-pour-plancha-barbecue-en-bois-et-metal-avec-2-etageres-et-3-crochets-107-x-65-x-80-cm-noir-naturel-67280859?product_id=89602367">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/desserte-de-jardin-chariot-pour-plancha-barbecue-en-bois-et-metal-avec-2-etageres-et-3-crochets-107-x-65-x-80-cm-noir-naturel-P-6132097-89602367_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-outsunny-6502.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div> 
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/need-meuble-rangement-desserte-de-cuisineetageres-de-cuisine-pour-le-stockageetagere-four-a-micro-ondes-rack-cuisine-etagere-etageres-de-cuisineavec-33-tablettes90-39-83cm-78161518">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/need-meuble-rangement-desserte-de-cuisineetageres-de-cuisine-pour-le-stockageetagere-four-a-micro-ondes-rack-cuisine-etagere-etageres-de-cuisineavec-3-tablettes90-39-83cm-P-33034488-114393193_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-outsunny-6502.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div> 
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/vasagle-ilot-de-cuisine-avec-grand-plan-de-travail-etagere-de-cuisine-a-3-niveaux-cadre-en-acier-60-x-120-x-90-cm-style-moderne-montage-facile-couleur-chene-et-blanc-71667552?model_id=23848523">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/vasagle-ilot-de-cuisine-avec-grand-plan-de-travail-etagere-de-cuisine-a-3-niveaux-cadre-en-acier-60-x-120-x-90-cm-style-industriel-montage-facile-marron-P-2144922-24164493_1.jpg"  width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-vasagle-1c0c4da2-d800-4cae-ace4-cacaf258e921.jpeg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div> 
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/armoire-de-cuisine-oliwia-80-cm-meuble-de-cuisine-blanc-2-tagres-2-portes-54134246">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/meuble-de-cuisine-bas-armoire-de-cuisine-akord-s80-oliwia-modulable-blanc-80-cm-2-portes-facade-blanche-2-etageres-80x46x85-cm-P-22948858-60055353_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-akord-7a9ffea2-13ce-465d-bc1f-6a80e85c84f0.jpeg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div> 
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/soges-chariot-dilot-de-cuisine-roulant-avec-rangement-soges-chariot-en-bois-avec-porte-epices-et-porte-serviettes-table-dilot-de-rangement-de-cuisine-mobile-sur-roulettes-chariot-de-service-avec-armoire-et-tiroirsfzsr-ht-53685141">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/soges-chariot-dilot-de-cuisine-roulant-avec-rangement-soges-chariot-en-bois-avec-porte-epices-et-porte-serviettes-table-dilot-de-rangement-de-cuisine-mobile-sur-roulettes-chariot-de-service-avec-P-20224698-58998738_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-soges-dfd70f29-fe1a-4226-afcb-15e12d214d8f.jpeg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div> 
    <div class="product-card">
      
      <div class="product-image-container">
        <a class="product-link" title="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" href="/p/desserte-de-cuisine-cosi-avec-tiroir-bois-noir-et-plateaux-facon-hetre-l60-cm-77142246">
          <img class="product-image" alt="Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel" src="https://cdn.manomano.com/desserte-de-cuisine-cosy-placard-avec-tiroir-bois-noir-et-plateaux-facon-hetre-l60-cm-P-52751-112211176_1.jpg" width="160" height="165">
          <img class="brand-logo" alt="OUTSUNNY" src="https://cdn.manomano.com/marque-idmarket-139367.jpg" width="23" height="20">
        </a>
      </div>
      
      
      <div class="product-details">
        <p class="product-title">Desserte de jardin chariot pour plancha barbecue en bois et métal avec 2 étagères et 3 crochets - 107 x 65 x 80 cm noir naturel</p>
        <div class="product-rating">
          <span class="rating-stars" aria-label="4.1666665/5" style="background-position-y: 80%;"></span>
          <div class="rating-count" style="color: rgb(80, 89, 113); margin-left: 4px;">(6)</div>
        </div>
        <div class="product-price">
          <div class="price-main">
            <span class="price-amount">103</span><span class="currency-symbol">€</span><span class="price-decimals">90</span>
          </div>
        </div>
        <span class="delivery-info">
          <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 42 40"><path d="M41.068 14.958L29.978 1.31A3.56 3.56 0 0026.664.044L9.282 2.81a3.55 3.55 0 00-2.755 2.234L.234 21.456a3.541 3.541 0 00.56 3.5l11.089 13.659A3.559 3.559 0 0015.2 39.87l17.382-2.77a3.542 3.542 0 002.755-2.23l6.293-16.413a3.541 3.541 0 00-.562-3.5z" fill="url(#b2cgradient-:ri5:)"></path><path d="M25.73 11.768L21.794 18.8l-3.868-8.348-4.83 1.286-5.982 15.569h5.336l3.6-9.182 3.546 8.745h2.732l5.247-9.373v11.992l4.979-1.68v-14.83l-6.824-1.21z" fill="#fff"></path></svg>
          <span>Livraison 48h gratuite</span>
        </span>
      </div>
    </div>
    </div>
  