                              
.product-card {
  display: flex;
  flex-direction: column;
  width: 225px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  background: #fff;
 margin-left: -335px;
 margin-bottom:10px; 
 padding: 10px;
 box-sizing: border-box;
 transform: translateY(270px) translateX(-680px);

}
.product-container {
  display: flex;
  flex-wrap: wrap;
  gap:10px; 
}
.product-image-container {
  position: relative;
}


.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.brand-logo {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #fff;
  border-radius: 4px;
  padding: 2px;
}

.product-details {
  padding: 8px;
}


.product-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.4;
  color: #333;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}


.rating-stars {
  background: linear-gradient(90deg, #f39c12 0%, #f39c12 80%, #ddd 80%);
  background-size: 20px 20px;
  width: 80px;
  height: 16px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
}


.rating-count {
  font-size: 12px;
  color: #505979;
}


.product-price {
  margin-bottom: 8px;
}


.price-main {
  font-size: 16px;
  font-weight: 700;
}
.price-decimals {
  font-size: 14px;
}


.delivery-info {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #00796b;
}

.delivery-info svg {
  margin-right: 4px;
  fill: #00796b;
}


.product-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border-color: #00796b;
}

.product-card:not(:nth-last-of-type(-n+3)) {
  margin-right: 10px; 
}
