
<div class="jTWbBY" data-testid="sprbrd-banner">
    <a class="c27UA1R" data-testid="sprbrd-logo-link" href="https://www.manomano.fr/recherche/sobuy?category_names=Desserte+de+cuisine&amp;catId=2970&amp;ls_filter=false">
      <div class="image-container">
        <img src="https://cdn.manomano.com/sponsored-brands/secondary/dvkezxchf/image/upload/h_168,w_336/se1fmtbud7ueor0dzbon" alt="brand image" class="brand-image">
        <img src="https://cdn.manomano.com/sponsored-brands/main/images/headlineCampaigns/2447204_2022-11-08-08-50-53-437.png" alt="brand logo" class="brand-logo">
      </div>
    </a>
    
    <div class="fU9F-w FsODX5" data-testid="sprbrd-products">
      <div class="n_rnu6 ESZgey mfrkPN">
        <div class="c4hSgyS" data-testid="sprbrd-label">
          <div class="dluXEP">
            <span role="button" tabindex="0" data-testid="popoverTriggersponsoredLabel">
              <span class="b38yzx YLR5E2 c35g1Kh gS1w88 dluXEP">
                <span class="C8TPUq">Sponsorisé</span>
                <svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em" viewBox="0 0 24 24" class="svg_tamagoshi BmBzWN">
                  <path d="M11 7h2v2h-2V7zm1 4c.55 0 1 .45 1 1v4c0 .55-.45 1-1 1s-1-.45-1-1v-4c0-.55.45-1 1-1zm0-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z" fill="currentColor"></path>
                </svg>
              </span>
            </span>
          </div>
        </div>
        <div class="ccm8O0">
          <span class="aGid7q" data-testid="sprbrd-prmtnText">Découvrez ces dessertes de SoBuy</span>
          <a class="vh-lLl" data-testid="sprbrd-bannerLink" href="https://www.manomano.fr/recherche/sobuy?category_names=Desserte+de+cuisine&amp;catId=2970&amp;ls_filter=false">
            En savoir plus sur SOBUY
            <svg aria-hidden="true" focusable="false" height="16px" role="presentation" width="16px" viewBox="0 0 24 24" class="svg_tamagoshi dbQdki">
              <path d="M5.418 11h11.17l-4.88-4.88c-.39-.39-.39-1.03 0-1.42a.996.996 0 011.41 0l6.59 6.59c.39.39.39 1.02 0 1.41l-6.59 6.59a.996.996 0 11-1.41-1.41l4.88-4.88H5.417c-.55 0-1-.45-1-1s.45-1 1-1z" fill="currentColor"></path>
            </svg>
          </a>
        </div>
      </div>
  
      <div class="c7QWmjJ wSzwUH">
        <button aria-disabled="true" class="c3O5j-b gzfZ1j" disabled type="button" data-testid="left-arrow-sprbrd-products">
          <svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em" viewBox="0 0 24 24" class="svg_tamagoshi beyupp">
            <use href="#iconsSystemArrowLeft"></use>
          </svg>
        </button>
        <button aria-disabled="false" class="c3O5j-b" type="button" data-testid="right-arrow-sprbrd-products">
          <svg aria-hidden="true" focusable="false" height="1em" role="presentation" width="1em" viewBox="0 0 24 24" class="svg_tamagoshi beyupp">
            <use href="#iconsSystemArrowRight"></use>
          </svg>
        </button>
      </div>
  
      <div class="PjXbTf kAOFbn u0CTcZ">
       
        <a class="c481G71" href="/catalogue/p/sobuy-knl01-f-placard-de-cuisine-buffet-de-rangement-armoire-de-cuisine-multi-rangements-avec-2-portes-4-cubes-compartiments-52869606?product_id=57162535">
          <img src="https://cdn.manomano.com/sobuy-knl01-f-placard-de-cuisine-buffet-de-rangement-armoire-de-cuisine-multi-rangements-avec-2-portes-4-cubes-compartiments-P-3968002-57162535_1.jpg" alt="SoBuy KNL01-F Placard de Cuisine" height="70" width="70" class="xqxSdA">
          <div>
            <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">SoBuy KNL01-F Placard de Cuisine Buffet de Rangement Armoire de Cuisine Multi-rangements avec 2 Portes, 4 Cubes Compartiments</p>
            <div class="c02qRSp" data-testid="sprbrd-product-0-priceAndRating">
              <span class="qMW3rO ZR6iYG uwhBzD">
                <span class="KIH6jK">309</span><sup><span class="s8wibb" data-testid="price-currency-symbol">€</span> <span class="jgdrL5">94</span></sup>
              </span>
              <div class="t-gJof">
                <span class="MppYSS" aria-label="3.64/5" style="background-position-y: 70%;"></span>
                <div class="b38yzx YLR5E2 c35g1Kh gS1w88" style="color: rgb(80, 89, 113); margin-left: 4px;">(25)</div>
              </div>
            </div>
          </div>
        </a>
  
       
        <a class="c481G71" href="/catalogue/p/desserte-chariot-de-cuisine-de-service-roulant-meuble-armoire-de-rangement-cusine-sur-roulettes-l67cmxh87cmxp37cm-fkw45-wn-sobuy-49433493?product_id=8039445">
          <img src="https://cdn.manomano.com/sobuy-fkw45-wn-desserte-chariot-de-cuisine-de-service-roulant-meuble-armoire-de-rangement-cuisine-sur-roulettes-P-3968002-8039445_1.jpg" alt="SoBuy FKW45-WN Desserte Chariot de Cuisine" height="70" width="70" class="xqxSdA">
          <div>
            <p class="b38yzx jKP2zg zu_yu7 gS1w88 jJIG7Q">SoBuy FKW45-WN Desserte Chariot de Cuisine de Service Roulant, Meuble Armoire de Rangement cusine sur roulettes</p>
            <div class="c02qRSp" data-testid="sprbrd-product-1-priceAndRating">
              <span class="qMW3rO ZR6iYG uwhBzD">
                <span class="KIH6jK">109</span><sup><span class="s8wibb" data-testid="price-currency-symbol">€</span> <span class="jgdrL5">94</span></sup>
              </span>
              <div class="t-gJof">
                <span class="MppYSS" aria-label="4.03/5" style="background-position-y: 80%;"></span>
                <div class="b38yzx YLR5E2 c35g1Kh gS1w88" style="color: rgb(80, 89, 113);  margin-left: 4px;">(46)</div>
              </div>
            </div>
          </div>
        </a>
      </div> 
 