

*,
*::before,
*::after {
  animation: none !important;
  transition: none !important;
  transform: none !important;
}

.jTWbBY{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  box-sizing: border-box;
  position: relative;
  max-width: calc(100vw - 0px);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
  display: flex;
  flex-flow: row nowrap;
  min-height: 168px;
  margin-top: 90px;
  margin-left:-970px;
}
.image-container {
  position: relative;
}
.brand-logo {
  position: absolute; 
  bottom: 10px; 
  left: 80px;
  top: 10px;
  width: 100px; 
  height: auto;
}
.c27UA1R{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  box-sizing: border-box;
  display: block;
  position: relative;
  flex: 0 0 154px;
  width: 550px;
  height: 208px;
}
.fU9F-w.FsODX5{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  box-sizing: border-box;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  display: grid;
  width: 100%;
  grid-template-areas: "title controls" "slider slider";
  grid-template-columns: 1fr auto;
}
.n_rnu6.ESZgey.mfrkPN{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  margin-top: var(--verticalPaddingTop);
  margin-left: var(--horizontalPadding);
  grid-area: title;
  min-height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.c4hSgyS{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
  order: 1;
}.dluXEP {
  font-family: Open Sans, mm-main, Tahoma, Arial, sans-serif;
  font-size: 20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: auto;
  height: 16px;
  padding-right: 8px;
  position: relative;
  margin-left: -16px;
  text-align: left;
}

.b38yzx.YLR5E2.c35g1Kh.gS1w88.dluXEP{
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: min-content;
  height: 16px;
  padding-right: 8px;
  font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
  letter-spacing: normal;
  color: #0c193a;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-left:-50px; 
  margin-right: 10px; 
  position: relative; 
  top:-40px;
}
.C8TPUq{
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
  letter-spacing: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  box-sizing: border-box;
  margin-right: 4px;
  white-space: nowrap;
  color: #8b91a1;
}
.ccm8O0{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  line-height: 20px;
  margin-bottom: 8px;
  flex: 1 1;
}
.aGid7q{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 12px;
}
.vh-lLl{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  line-height: 20px;
  box-sizing: border-box;
  color: #0c193a;
  font-weight: 600;
  min-width: fit-content;
  text-decoration-line: underline;
  display: inline-block;
}
.c7QWmjJ.wSzwUH{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  grid-area: controls;
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  margin-top: var(--verticalPaddingTop);
  margin-right: var(--horizontalPadding);
}
.c3O5j-b.gzfZ1j{
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  padding: 0;
  font-size: large;
  appearance: none;
  border: 0;
  background: none;
  color: #d8dadf;
  cursor: auto;
}
.c3O5j-b{
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  padding: 0;
  font-size: large;
  cursor: pointer;
  appearance: none;
  border: 0;
  background: none;
}
.PjXbTf.kAOFbn.u0CTcZ{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  padding-bottom: var(--verticalPaddingBottom);
  scroll-padding: var(--horizontalPadding);
  position: relative;
  width: 120%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  scrollbar-width: none;
  grid-area: slider;
  overscroll-behavior-x: contain;
  margin-left: 100px;
}
.c481G71{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  padding: 8px;
  flex: 0 0 280px;
  width: 280px;
  height: 104px;
  background: #fff;
  border: 1px solid #ecedf0;
  border-radius: 8px;
  text-decoration-line: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
  transition: box-shadow .3s ease;
  scroll-snap-align: start;
  margin-left: var(--horizontalPadding);
}
.xqxSdA{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  aspect-ratio: auto 70 / 70;
  box-sizing: border-box;
  flex: 0 0 88px;
  width: 88px;
  height: 88px;
  margin-right: 12px;
}
.b38yzx.jKP2zg.zu_yu7.gS1w88.jJIG7Q{
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
  letter-spacing: normal;
  font-size:20px;
  line-height: 20px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: #0c193a;
}
.c02qRSp{
  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
  font-size:20px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 8px;
}
.qMW3rO.ZR6iYG.uwhBzD{    --mm-font-height-display: 38px;
  --mm-font-height-h1: 30px;
  --mm-font-height-h2: 26px;
  --mm-font-height-h3: 24px;
  --mm-font-height-h4: 22px;
  --mm-font-size-display: 32px;
  --mm-font-size-h1: 24px;
  --mm-font-size-h2: 20px;
  --mm-font-size-h3: 18px;
  --mm-font-size-h4: 16px;
  --mm-color-accent-background-primary: #58d5bf;
  --mm-color-accent-background-primaryActive: #1d9e9f;
  --mm-color-accent-background-primaryHover: #7ceacd;
  --mm-color-accent-background-secondary: #d4fbea;
  --mm-color-accent-border-primary: #58d5bf;
  --mm-color-accent-textIcon-primary: #58d5bf;
  --horizontalPadding: 16px;
  --verticalPaddingTop: 12px;
  --verticalPaddingBottom: 12px;
  box-sizing: border-box;
  position: relative;
  flex-direction: row;
  font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
  white-space: nowrap;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 16px;
  color: #0c193a;}
  .KIH6jK{    --mm-font-height-display: 38px;
      --mm-font-height-h1: 30px;
      --mm-font-height-h2: 26px;
      --mm-font-height-h3: 24px;
      --mm-font-height-h4: 22px;
      --mm-font-size-display: 32px;
      --mm-font-size-h1: 24px;
      --mm-font-size-h2: 20px;
      --mm-font-size-h3: 18px;
      --mm-font-size-h4: 16px;
      --mm-color-accent-background-primary: #58d5bf;
      --mm-color-accent-background-primaryActive: #1d9e9f;
      --mm-color-accent-background-primaryHover: #7ceacd;
      --mm-color-accent-background-secondary: #d4fbea;
      --mm-color-accent-border-primary: #58d5bf;
      --mm-color-accent-textIcon-primary: #58d5bf;
      --horizontalPadding: 16px;
      --verticalPaddingTop: 12px;
      --verticalPaddingBottom: 12px;
      font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
      white-space: nowrap;
      font-size: 24px;
      font-weight: 700;
      line-height: 16px;
      color: #0c193a;
      box-sizing: border-box;
      order: 1;}
      .s8wibb{
          --mm-font-height-display: 38px;
          --mm-font-height-h1: 30px;
          --mm-font-height-h2: 26px;
          --mm-font-height-h3: 24px;
          --mm-font-height-h4: 22px;
          --mm-font-size-display: 32px;
          --mm-font-size-h1: 24px;
          --mm-font-size-h2: 20px;
          --mm-font-size-h3: 18px;
          --mm-font-size-h4: 16px;
          --mm-color-accent-background-primary: #58d5bf;
          --mm-color-accent-background-primaryActive: #1d9e9f;
          --mm-color-accent-background-primaryHover: #7ceacd;
          --mm-color-accent-background-secondary: #d4fbea;
          --mm-color-accent-border-primary: #58d5bf;
          --mm-color-accent-textIcon-primary: #58d5bf;
          --horizontalPadding: 16px;
          --verticalPaddingTop: 12px;
          --verticalPaddingBottom: 12px;
          font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
          white-space: nowrap;
          font-weight: 700;
          line-height: 16px;
          color: #0c193a;
          font-size: .583333em;
          box-sizing: border-box;
          display: block;
          order: 2;
      }
      .jgdrL5{    --mm-font-height-display: 38px;
          --mm-font-height-h1: 30px;
          --mm-font-height-h2: 26px;
          --mm-font-height-h3: 24px;
          --mm-font-height-h4: 22px;
          --mm-font-size-display: 32px;
          --mm-font-size-h1: 24px;
          --mm-font-size-h2: 20px;
          --mm-font-size-h3: 18px;
          --mm-font-size-h4: 16px;
          --mm-color-accent-background-primary: #58d5bf;
          --mm-color-accent-background-primaryActive: #1d9e9f;
          --mm-color-accent-background-primaryHover: #7ceacd;
          --mm-color-accent-background-secondary: #d4fbea;
          --mm-color-accent-border-primary: #58d5bf;
          --mm-color-accent-textIcon-primary: #58d5bf;
          --horizontalPadding: 16px;
          --verticalPaddingTop: 12px;
          --verticalPaddingBottom: 12px;
          font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
          white-space: nowrap;
          font-weight: 700;
          line-height: 16px;
          color: #0c193a;
          font-size: .583333em;
          box-sizing: border-box;
          display: block;
          order: 3;}
          .t-gJof{    --mm-font-height-display: 38px;
              --mm-font-height-h1: 30px;
              --mm-font-height-h2: 26px;
              --mm-font-height-h3: 24px;
              --mm-font-height-h4: 22px;
              --mm-font-size-display: 32px;
              --mm-font-size-h1: 24px;
              --mm-font-size-h2: 20px;
              --mm-font-size-h3: 18px;
              --mm-font-size-h4: 16px;
              font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
              font-size:20px;
             
              --horizontalPadding: 16px;
              --verticalPaddingTop: 12px;
              --verticalPaddingBottom: 12px;
              box-sizing: border-box;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-content: center;
              align-items: center;}
              .MppYSS{    --mm-font-height-display: 38px;
                  --mm-font-height-h1: 30px;
                  --mm-font-height-h2: 26px;
                  --mm-font-height-h3: 24px;
                  --mm-font-height-h4: 22px;
                  --mm-font-size-display: 32px;
                  --mm-font-size-h1: 24px;
                  --mm-font-size-h2: 20px;
                  --mm-font-size-h3: 18px;
                  --mm-font-size-h4: 16px;
                  font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
                  --horizontalPadding: 16px;
                  --verticalPaddingTop: 12px;
                  --verticalPaddingBottom: 12px;
                  box-sizing: border-box;
                  display: inline-block;
                  font-size: 16px;
                  width: 5em;
                  height: 1em;
                  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:x='http://www.w3.org/1999/xlink' fill='%23ffb950' width='120' height='264' viewBox='0 0 120 264'%3E%3Csymbol id='e'%3E%3Cpath d='M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z' /%3E%3C/symbol%3E%3Csymbol id='h'%3E%3Cpath d='M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4V6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z' /%3E%3C/symbol%3E%3Csymbol id='f'%3E%3Cpath d='M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z' /%3E%3C/symbol%3E%3Cuse x:href='%23e' /%3E%3Cuse x:href='%23e' x='24' /%3E%3Cuse x:href='%23e' x='48' /%3E%3Cuse x:href='%23e' x='72' /%3E%3Cuse x:href='%23e' x='96' /%3E%3Cuse x:href='%23h' y='24' /%3E%3Cuse x:href='%23e' y='24' x='24' /%3E%3Cuse x:href='%23e' y='24' x='48' /%3E%3Cuse x:href='%23e' y='24' x='72' /%3E%3Cuse x:href='%23e' y='24' x='96' /%3E%3Cuse x:href='%23f' y='48' /%3E%3Cuse x:href='%23e' y='48' x='24' /%3E%3Cuse x:href='%23e' y='48' x='48' /%3E%3Cuse x:href='%23e' y='48' x='72' /%3E%3Cuse x:href='%23e' y='48' x='96' /%3E%3Cuse x:href='%23f' y='72' /%3E%3Cuse x:href='%23h' y='72' x='24' /%3E%3Cuse x:href='%23e' y='72' x='48' /%3E%3Cuse x:href='%23e' y='72' x='72' /%3E%3Cuse x:href='%23e' y='72' x='96' /%3E%3Cuse x:href='%23f' y='96' /%3E%3Cuse x:href='%23f' y='96' x='24' /%3E%3Cuse x:href='%23e' y='96' x='48' /%3E%3Cuse x:href='%23e' y='96' x='72' /%3E%3Cuse x:href='%23e' y='96' x='96' /%3E%3Cuse x:href='%23f' y='120' /%3E%3Cuse x:href='%23f' y='120' x='24' /%3E%3Cuse x:href='%23h' y='120' x='48' /%3E%3Cuse x:href='%23e' y='120' x='72' /%3E%3Cuse x:href='%23e' y='120' x='96' /%3E%3Cuse x:href='%23f' y='144' /%3E%3Cuse x:href='%23f' y='144' x='24' /%3E%3Cuse x:href='%23f' y='144' x='48' /%3E%3Cuse x:href='%23e' y='144' x='72' /%3E%3Cuse x:href='%23e' y='144' x='96' /%3E%3Cuse x:href='%23f' y='168' /%3E%3Cuse x:href='%23f' y='168' x='24' /%3E%3Cuse x:href='%23f' y='168' x='48' /%3E%3Cuse x:href='%23h' y='168' x='72' /%3E%3Cuse x:href='%23e' y='168' x='96' /%3E%3Cuse x:href='%23f' y='192' /%3E%3Cuse x:href='%23f' y='192' x='24' /%3E%3Cuse x:href='%23f' y='192' x='48' /%3E%3Cuse x:href='%23f' y='192' x='72' /%3E%3Cuse x:href='%23e' y='192' x='96' /%3E%3Cuse x:href='%23f' y='216' /%3E%3Cuse x:href='%23f' y='216' x='24' /%3E%3Cuse x:href='%23f' y='216' x='48' /%3E%3Cuse x:href='%23f' y='216' x='72' /%3E%3Cuse x:href='%23h' y='216' x='96' /%3E%3Cuse x:href='%23f' y='240' /%3E%3Cuse x:href='%23f' y='240' x='24' /%3E%3Cuse x:href='%23f' y='240' x='48' /%3E%3Cuse x:href='%23f' y='240' x='72' /%3E%3Cuse x:href='%23f' y='240' x='96' /%3E%3C/svg%3E%0A") no-repeat 0 0/100% auto;
                  background-position-y: 70%;}
                  .b38yzx.YLR5E2.c35g1Kh.gS1w88{
                      --mm-font-height-display: 38px;
                      --mm-font-height-h1: 30px;
                      --mm-font-height-h2: 26px;
                      --mm-font-height-h3: 24px;
                      --mm-font-height-h4: 22px;
                      --mm-font-size-display: 32px;
                      --mm-font-size-h1: 24px;
                      --mm-font-size-h2: 20px;
                      --mm-font-size-h3: 18px;
                      --mm-font-size-h4: 16px;
                     
                      --horizontalPadding: 16px;
                      --verticalPaddingTop: 12px;
                      --verticalPaddingBottom: 12px;
                      box-sizing: border-box;
                      font-family: Open Sans,mm-main,tahoma,arial,sans-serif;
                      letter-spacing: normal;
                      font-size: 12px;
                      line-height: 16px;
                      font-weight: 400;
                      color: #505971;
                      margin-left: 4px;
                  }
                  .c481G71{    --mm-font-height-display: 38px;
                      --mm-font-height-h1: 30px;
                      --mm-font-height-h2: 26px;
                      --mm-font-height-h3: 24px;
                      --mm-font-height-h4: 22px;
                      --mm-font-size-display: 32px;
                      --mm-font-size-h1: 24px;
                      --mm-font-size-h2: 20px;
                      --mm-font-size-h3: 18px;
                      --mm-font-size-h4: 16px;
                      font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
                      font-size:20px;
                     
                      --horizontalPadding: 16px;
                      --verticalPaddingTop: 12px;
                      --verticalPaddingBottom: 12px;
                      box-sizing: border-box;
                      display: flex;
                      flex-flow: row nowrap;
                      padding: 8px;
                      flex: 0 0 280px;
                      width: 280px;
                      height: 104px;
                      background: #fff;
                      border: 1px solid #ecedf0;
                      border-radius: 8px;
                      text-decoration-line: none;
                      box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
                      transition: box-shadow .3s ease;
                      margin-left: 8px;
                      scroll-snap-align: start;}
                      .xqxSdA{    --mm-font-height-display: 38px;
                          --mm-font-height-h1: 30px;
                          --mm-font-height-h2: 26px;
                          --mm-font-height-h3: 24px;
                          --mm-font-height-h4: 22px;
                          --mm-font-size-display: 32px;
                          --mm-font-size-h1: 24px;
                          --mm-font-size-h2: 20px;
                          --mm-font-size-h3: 18px;
                          --mm-font-size-h4: 16px;
                          font-family: Open Sans,mm-main,Tahoma,arial,sans-serif;
                          font-size:20px;
                         
                          --horizontalPadding: 16px;
                          --verticalPaddingTop: 12px;
                          --verticalPaddingBottom: 12px;
                          aspect-ratio: auto 70 / 70;
                          box-sizing: border-box;
                          flex: 0 0 88px;
                          width: 88px;
                          height: 88px;
                          margin-right: 12px;}
                          .b38yzx.jKP2zg.zu_yu7.gS1w88.jJIG7Q{
                              --mm-font-height-display: 38px;
                              --mm-font-height-h1: 30px;
                              --mm-font-height-h2: 26px;
                              --mm-font-height-h3: 24px;
                              --mm-font-height-h4: 22px;
                              --mm-font-size-display: 32px;
                              --mm-font-size-h1: 24px;
                              --mm-font-size-h2: 20px;
                              --mm-font-size-h3: 18px;
                              --mm-font-size-h4: 16px;
                              --mm-color-accent-background-primary: #58d5bf;
                              --mm-color-accent-background-primaryActive: #1d9e9f;
                              --mm-color-accent-background-primaryHover: #7ceacd;}



