.container {
    display: flex;
    flex-direction: row;
    gap: 20px; 
  }
  app-category-banner,
  app-product-card {
  animation: none !important;
  transition: none !important;
  transform: none !important;
  }
  
  app-category-banner * {
  animation: none !important;
  transition: none !important;
  transform: none !important;
  }
  
  app-product-card * {
  animation: none !important;
  transition: none !important;
  transform: none !important;
  }
  