<div class="container">
  <header class="header">
    <app-header></app-header>
  </header>
  <div class="main-content">
    <div class="left-section">
      <h2 class="title"></h2>
      <p class="subtitle"></p>
      <div class="filter">
        <label class="switch">
          <span class="slider round"></span>
          <span class="label"></span>
        </label>
        <br>
      </div>
    </div>
    <div class="right-section">
      <div class="sort-by">
        <label for="sort-by">Trier par:</label>
        <select id="sort-by">
          <option value="relevance">Pertinence</option>
          <option value="price_asc">Prix croissant</option>
          <option value="price_desc">Prix décroissant</option>
          <option value="rating">Meilleures notes</option>
        </select>
      </div>
      <app-category-banner></app-category-banner>
    </div>
  </div>
</div>
